<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
    <display-name>HirePro</display-name>
    <servlet>
        <servlet-name>com.ideas2it.headHunt.servlet.RecruiterServlet</servlet-name>
        <servlet-class>com.ideas2it.headHunt.servlet.RecruiterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.ideas2it.headHunt.servlet.RecruiterServlet</servlet-name>
        <url-pattern>/createRecruiter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.ideas2it.headHunt.servlet.RecruiterServlet</servlet-name>
        <url-pattern>/readRecruiter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.ideas2it.headHunt.servlet.RecruiterServlet</servlet-name>
        <url-pattern>/updateRecruiter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.ideas2it.headHunt.servlet.RecruiterServlet</servlet-name>
        <url-pattern>/deleteRecruiter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.ideas2it.headHunt.servlet.RecruiterServlet</servlet-name>
        <url-pattern>/assignApplicants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.ideas2it.headHunt.servlet.RecruiterServlet</servlet-name>
        <url-pattern>/unassignApplicants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.ideas2it.headHunt.servlet.RecruiterServlet</servlet-name>
        <url-pattern>/viewAssignedApplicants</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>com.ideas2it.headHunt.servlet.ApplicantServlet</servlet-name>
        <servlet-class>com.ideas2it.headHunt.servlet.ApplicantServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.ideas2it.headHunt.servlet.ApplicantServlet</servlet-name>
        <url-pattern>/createApplicant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.ideas2it.headHunt.servlet.ApplicantServlet</servlet-name>
        <url-pattern>/readApplicant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.ideas2it.headHunt.servlet.ApplicantServlet</servlet-name>
        <url-pattern>/updateApplicant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.ideas2it.headHunt.servlet.ApplicantServlet</servlet-name>
        <url-pattern>/deleteApplicant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.ideas2it.headHunt.servlet.ApplicantServlet</servlet-name>
        <url-pattern>/viewAssignedRecruiters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.ideas2it.headHunt.servlet.ApplicantServlet</servlet-name>
        <url-pattern>/viewAllApplicants</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/error_404.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/error_ex.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>