<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
      <Console name="Console">
        <PatternLayout pattern="%d{DATE} %c{1} %L %-5level - %m%n"/> //%logger{36} // [%t]
      </Console>

      <RollingFile name="RollingFile" fileName="logs/IdeasRecruitment.log"
                   filePattern="logs/$${date:yyyy-MM}/IdeasRecruitment-%d{DATE}.log.gz">
        <PatternLayout>
          <Pattern>%d{DATE} %c{1} %L %-5level - %m%n</Pattern>  //[%t]
        </PatternLayout>
        <CronTriggeringPolicy schedule="0 0 0 * * ?"/>
        <DefaultRolloverStrategy>
            <Delete basePath="logs" maxDepth="2">
              <IfFileName glob="*/IdeasRecruitment-*.log.gz" />
              <IfLastModified age="P60D" />
            </Delete>
        </DefaultRolloverStrategy>

      </RollingFile> 
    </Appenders>
    <Loggers>
      <Root level="info">
        <AppenderRef ref="Console"/>
        <AppenderRef ref="RollingFile"/>
      </Root>
    </Loggers>
</Configuration>